<div class="mobile-navbar has-background-light" [class]="{ 'has-offset': sidebarToggle }">
  <a role="button" class="navbar-burger burger" (click)="toggleSidebar()">
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
  </a>
  <p>{{ selectedLinkTree.title }}</p>
</div>
<div class="sidebar has-background-light" [class]="{ 'hidden': !sidebarToggle }">
  <a routerLink="/app">
    <i class="fas fa-chevron-left"></i> {{ 'GoBackToHome' | translate }}
  </a>
  <article class="media user mt-5">
    <figure class="media-left">
      <div class="user-image">
        {{ user.name.slice(0, 1) }}
      </div>
    </figure>
    <div class="media-content">
      <div class="content">
        <h5>{{ user.name.slice(0, user.name.indexOf(' ')) }}</h5>
        <p>
          <small>{{ user.email }}</small>
        </p>
      </div>
    </div>
    <div class="media-right">
      <a class="has-text-dark" (click)="logout()">
        <i class="fas fa-sign-out-alt"></i>
      </a>
    </div>
  </article>
  <div class="menu-container mt-6">
    <aside class="menu">
      <a (click)="newLinkTree()" class="button is-link is-fullwidth has-text-centered mb-6">
        <span class="icon">
          <i class="fas fa-plus-circle"></i>
        </span>
        <span>{{ 'NewLink' | translate }}</span>
      </a>
      <p class="menu-label" *ngIf="links.length > 0">
        {{ 'Links' | translate }}
      </p>
      <ul class="menu-list">
        <li *ngFor="let link of links">
          <a (click)="selectLink(link)" [class]="{ 'is-active': selectedLinkTree.id === link.id }">
            {{ link.title }}
            <i (click)="deleteLinkTree(link)" *ngIf="selectedLinkTree.id === link.id"
              class="fas fa-trash is-pulled-right"></i>
          </a>
        </li>
      </ul>
    </aside>
    <div class="mb-6 mt-6">
      <app-language-switch></app-language-switch>
      <p class="mt-5 has-text-centered">
        {{ 'madeWith' | translate }} <i class="fas fa-heart has-text-danger"></i> {{ 'by' | translate }}
        <a target="_blank" href="https://unze.com.br">Unze</a>
      </p>
    </div>
  </div>
</div>
<div class="current-link has-background-white">
  <div class="centered-message has-text-centered" *ngIf="!selectedLinkTree.id">
    <i class="far fa-folder-open"></i>
    <p>{{ 'SelectOneOfYourLinksOr' | translate }} <a (click)="newLinkTree()">{{ 'createANewOne' | translate }}.</a></p>
  </div>
  <div class="columns is-multiline is-centered" *ngIf="selectedLinkTree.id">
    <div class="column is-5 mt-6">
      <h4 class="title is-4">{{ 'YourPublicLink' | translate }}</h4>
      <div class="field">
        <label class="label" for="linkTreeUrl">{{ 'URLToShare' | translate }}</label>
        <div class="control">
          <input id="linkTreeUrl" readonly class="input" [value]="publicLink" #userinput
            (click)="copyPublicLink(userinput)">
        </div>
      </div>
      <h4 class="title is-4 mt-6">{{ 'Configuration' | translate }}</h4>
      <div class="field">
        <label class="label" for="title">{{ 'Title' | translate }}</label>
        <div class="control">
          <input id="title" class="input" [(ngModel)]="selectedLinkTree.title" (keyup)="saveAfterTyping()">
        </div>
      </div>
      <div class="field">
        <label class="label" for="subtitle">{{ 'Subtitle' | translate }}</label>
        <div class="control">
          <input id="subtitle" class="input" [(ngModel)]="selectedLinkTree.description" (keyup)="saveAfterTyping()">
        </div>
      </div>
      <div class="field">
        <label class="label" for="color">{{ 'ButtonColor' | translate }}</label>
        <div class="control">
          <input id="color" class="input" [style]="{ backgroundColor: selectedLinkTree.buttonColor }"
            [(colorPicker)]="selectedLinkTree.buttonColor" [cpOKButton]="true" [cpSaveClickOutside]="false"
            cpOKButtonClass="button is-link" (colorPickerSelect)="saveButtonColor()">
        </div>
      </div>
      <div class="field">
        <label class="label" for="color">{{ 'ButtonTextColor' | translate }}</label>
        <div class="control">
          <input id="color" class="input" [style]="{ backgroundColor: selectedLinkTree.buttonTextColor }"
            [(colorPicker)]="selectedLinkTree.buttonTextColor" [cpOKButton]="true" [cpSaveClickOutside]="false"
            cpOKButtonClass="button is-link" (colorPickerSelect)="saveButtonColor()">
        </div>
      </div>
      <div class="mt-6">
        <h4 class="title is-4">{{ 'AddANewLink' | translate }}</h4>
        <form [formGroup]="newLinkForm" (ngSubmit)="addLink()">
          <div class="field">
            <label class="label" for="newLinkLabel">{{ 'TextOfTheNewLink' | translate }}</label>
            <div class="control">
              <input id="newLinkLabel" class="input" type="text" maxlength="50" formControlName="label"
                [class]="{ 'is-danger': newLinkForm.get('label').invalid && (newLinkForm.get('label').dirty || newLinkForm.get('label').touched) }">
            </div>
            <div class="help is-danger"
              *ngIf="newLinkForm.get('label').invalid && (newLinkForm.get('label').dirty || newLinkForm.get('label').touched)">
              <p *ngIf="newLinkForm.get('label').errors?.required">{{ 'ProvideALabel' | translate }}</p>
            </div>
          </div>
          <div class="field">
            <label class="label" for="newLinkUrl">{{ 'URLOfTheNewLink' | translate }}</label>
            <div class="control">
              <input id="newLinkUrl" class="input" type="url" formControlName="url"
                [class]="{ 'is-danger': newLinkForm.get('url').invalid && (newLinkForm.get('url').dirty || newLinkForm.get('url').touched) }">
            </div>
            <div class="help is-danger"
              *ngIf="newLinkForm.get('url').invalid && (newLinkForm.get('url').dirty || newLinkForm.get('url').touched)">
              <p *ngIf="newLinkForm.get('url').errors?.required">{{ 'ProvideAURL' | translate }}</p>
              <p *ngIf="newLinkForm.get('url').errors?.pattern">{{ 'ProvideAValidURL' | translate }}</p>
            </div>
          </div>
          <button type="submit" [disabled]="!newLinkForm.valid" class="button is-link is-fullwidth">
            {{ 'AddLink' | translate }}
          </button>
        </form>
      </div>
    </div>
    <div class="column is-5 is-offset-1 has-text-centered mt-6">
      <p class="title is-6 is-uppercase">{{ 'Preview' | translate }}</p>
      <hr>
      <h2 class="title is-3 mb-6">
        {{ selectedLinkTree.title }}
      </h2>
      <p class="subtitle is-5 mb-6">
        {{ selectedLinkTree.description }}
      </p>
      <div class="link mb-5" *ngFor="let link of selectedLinkTree.links; let i = index">
        <a [href]="link.url" target="_blank" class="button is-fullwidth"
          [style.backgroundColor]="selectedLinkTree.buttonColor" [style.color]="selectedLinkTree.buttonTextColor">
          {{ link.label }}
        </a>
        <button (click)="deleteLink(i)" class="button is-danger is-outlined delete-link-button">
          <i class="fas fa-trash"></i>
        </button>
      </div>
    </div>
  </div>
</div>