<div class="mobile-navbar has-background-light" [class]="{ 'has-offset': sidebarToggle }">
  <a role="button" class="navbar-burger burger" (click)="toggleSidebar()">
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
  </a>
  <p>{{ selectedLinkTree.title }}</p>
</div>
<div class="sidebar has-background-light" [class]="{ 'hidden': !sidebarToggle }">
  <article class="media user">
    <figure class="media-left">
      <div class="user-image">
        {{ user.name.slice(0, 1) }}
      </div>
    </figure>
    <div class="media-content">
      <div class="content">
        <h5>{{ user.name.slice(0, user.name.indexOf(' ')) }}</h5>
        <p>
          <small>{{ user.email }}</small>
        </p>
      </div>
    </div>
    <div class="media-right">
      <a class="has-text-dark"
        (click)="logout()">
        <i class="fas fa-sign-out-alt"></i>
      </a>
    </div>
  </article>
  <div class="menu-container mt-6">
    <aside class="menu">
      <a (click)="newLink()" class="button is-primary is-fullwidth has-text-centered mb-6">
        <span class="icon">
          <i class="fas fa-plus-circle"></i>
        </span>
        <span>{{ 'NewLink' | translate }}</span>
      </a>
      <p class="menu-label" *ngIf="links.length > 0">
        {{ 'Links' | translate }}
      </p>
      <ul class="menu-list">
        <li *ngFor="let link of links">
          <a (click)="selectLink(link)"
            [class]="{ 'is-active': selectedLinkTree.id === link.id }">
            {{ link.title }}
            <i (click)="deleteLink(link)"
              *ngIf="selectedLinkTree.id === link.id"
              class="fas fa-trash is-pulled-right"></i>
          </a>
        </li>
      </ul>
      <div class="menu-bottom-section mb-6 mt-6">
        <app-language-switch></app-language-switch>
        <p class="mt-5 has-text-centered">
          {{ 'madeWith' | translate }} <i class="fas fa-heart has-text-danger"></i> {{ 'by' | translate }} 
          <a target="_blank" href="https://unze.com.br">Unze</a>
        </p>
      </div>
    </aside>
  </div>
</div>
<div class="current-link has-background-white">
  <div class="centered-message has-text-centered" *ngIf="!selectedLinkTree.id">
    <i class="far fa-folder-open"></i>
    <p>{{ 'SelectOneOfYourLinksOr' | translate }} <a (click)="newLink()">{{ 'createANewOne' | translate }}.</a></p>
  </div>
  <div class="container" *ngIf="selectedLinkTree.id">
    <div>
      <h2 class="title is-3"
        *ngIf="!edit.title.toggle"
        (click)="editTitle()">
        {{ selectedLinkTree.title }}
      </h2>
      <input #titleInput
        type="text"
        class="input input-edit-on-click title is-3"
        *ngIf="edit.title.toggle"
        [(ngModel)]="edit.title.newValue"
        (blur)="saveTitle()"
        (keyup.enter)="saveTitle()">
    </div>
    <br>
    <div>
      <p class="title is-5"
        *ngIf="!edit.description.toggle"
        (click)="editDescription()">
        {{ selectedLinkTree.description }}
      </p>
      <input #descriptionInput
        type="text"
        class="input input-edit-on-click title is-5"
        *ngIf="edit.description.toggle"
        [(ngModel)]="edit.description.newValue"
        (blur)="saveDescription()"
        (keyup.enter)="saveDescription()">
    </div>
    <!-- <br>
    <input [value]="selectedLinkTree.buttonColor"
      [style.background]="selectedLinkTree.buttonColor"
      [(colorPicker)]="selectedLinkTree.buttonColor"
      (colorPickerChange)="saveButtonColor"> -->
    <br>
    <div>
      <a *ngFor="let link in selectedLinkTree.links"
        [href]="link.url"
        class="button is-fullwidth"
        [style.backgroundColor]="link.buttonColor">
        {{ link.label }}
      </a>
      <a *ngFor="let link in selectedLinkTree.links"
        [href]="link.url"
        class="button is-fullwidth"
        [style.backgroundColor]="link.buttonColor">
        {{ link.label }}
      </a>
    </div>
  </div>
</div>
