<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-12-mobile is-8-tablet is-5-desktop">
          <div class="has-text-centered mb-6">
            <a [routerLink]="['/']">
              <h1 class="title is-1">
                Salvae
              </h1>
              <h2 class="subtitle">
                {{ 'home.subtitle' | translate }}
              </h2>
            </a>
          </div>
          <div class="box px-6 py-6">
            <h1 class="title is-2 has-text-black">
              {{ 'Login' | translate }}
            </h1>
            <h2 class="subtitle has-text-black">
              {{ 'loginSubtitle' | translate }}
            </h2>
            <form [formGroup]="loginForm" (ngSubmit)="login()">
              <div class="field">
                <label class="label">E-mail</label>
                <div class="control has-icons-left">
                  <input class="input" type="email" formControlName="email">
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <label class="label">{{ 'Password' | translate }}</label>
                <div class="control has-icons-left">
                  <input class="input" type="password" formControlName="password">
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </div>
              </div>
              <br>
              <div class="has-text-centered">
                <div class="field">
                  <div class="control">
                    <button type="submit"
                      class="button is-primary is-medium is-fullwidth"
                      [class]="{ 'is-loading': loading }"
                      [disabled]="!loginForm.valid || loading">
                      {{ 'Login' | translate }}
                    </button>
                  </div>
                </div>
              </div>
            </form>
            <div class="has-text-centered mt-6 mb-5">
              <a [routerLink]="['/register']">{{ 'IDontHaveAnAccount' | translate }}</a>
            </div>
            <app-language-switch></app-language-switch>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>