<section class="hero is-light is-fullheight">
  <div class="hero-body">
    <div class="container">
      <a class="has-text-dark" (click)="logout()">
        <i class="fas fa-sign-out-alt"></i> Sair
      </a>
      <h1 class="title mt-5">
        {{ 'Welcome' | translate }}, {{ user.name.slice(0, user.name.indexOf(' ')) }}!
      </h1>
      <p class="subtitle">
        {{ 'ClickOnTheModuleYouWantToAccess' | translate }}
      </p>
      <div class="columns">
        <div class="column is-4">
          <a routerLink="/app/notes">
            <div class="box has-text-centered py-6">
              <span class="icon is-large">
                <i class="far fa-lg fa-copy"></i>
              </span>
              <p>{{ 'Notes' | translate }}</p>
            </div>
          </a>
        </div>
        <div class="column is-4">
          <a routerLink="/app/links">
            <div class="box has-text-centered py-6">
              <span class="icon is-large">
                <i class="fas fa-lg fa-link"></i>
              </span>
              <p>{{ 'Links' | translate }}</p>
            </div>
          </a>
        </div>
      </div>
      <br>
      <app-language-switch class="is-pulled-left"></app-language-switch>
    </div>
  </div>
</section>