$sidebar-width: 300px;

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: $sidebar-width;
  padding: 20px;
  transition: .4s;
  z-index: 1;
  box-shadow: 4px 0px 4px 0px rgba(0,0,0,0.1);
  hr {
    background-color: #e5e5e5;
  }
  .user {
    .user-image {
      height: 48px;
      width: 48px;
      border-radius: 50%;
      background-color: #8819bb;
      padding-top: 6px;
      text-align: center;
      color: #fff;
      font-weight: 600;
      font-size: 25px;
    }
    h5 {
      margin-bottom: 0;
      margin-top: 2px;
    }
  }
}

.box {
  span.icon {
    background-color: #eee;
    border-radius: 50%;
    padding: 15px;
    height: 70px;
    width: 70px;
    display: inline-block;
    position: relative;
    i {
      font-size: 25px;
      position: absolute;
      transform: translate(-43%, -50%);
      left: 50%;
      top: 50%;
    }
  }
  p {
    font-size: 1.5em;
  }
}