.hero-section {
  background-color: #8819bb;
  .title {
    font-size: 7em;
    @media screen and (max-width: 770px) {
      font-size: 5em;
    }
  }
}
.devices-section, .secure-section, .share-section, .markdown-section {
  img {
    height: 300px;
    pointer-events: none;
  }
  @media screen and (max-width: 770px) {
    img {
      display: none;
    }
  }
}