<section class="hero is-primary is-medium hero-section">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Salvae
      </h1>
      <h2 class="subtitle">
        {{ 'home.subtitle' | translate }}
      </h2>
      <div class="buttons is-centered">
        <a href="/register" class="button is-light is-large">
          {{ 'Register' | translate }}
        </a>
        <a href="/login" class="button is-light is-large">
          {{ 'Login' | translate }}
        </a>
      </div>
    </div>
  </div>
</section>
<section class="hero is-white is-medium secure-section">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-6">
          <h1 class="title">{{ 'home.secureSection.title' | translate }}</h1>
          <h2 class="subtitle">
            {{ 'home.secureSection.text' | translate }}
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="hero is-light is-medium devices-section">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-6 is-offset-6">
          <h1 class="title">{{ 'home.devicesSection.title' | translate }}</h1>
          <h2 class="subtitle">
            {{ 'home.devicesSection.text' | translate }}
          </h2>
          <!-- <a href="javascript:void(0)" target="_blank">
            <img src="assets/png/google-play-badge-en.png" alt="Play Store Button" width="200">
          </a> -->
        </div>
      </div>
    </div>
  </div>
</section>
<section class="hero is-white is-medium markdown-section">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-6">
          <h1 class="title">{{ 'home.markdownSection.title' | translate }}</h1>
          <h2 class="subtitle">
            {{ 'home.markdownSection.text' | translate }}
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <section class="hero is-white is-medium share-section">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-6">
          <h1 class="title">Share your notes</h1>
          <h2 class="subtitle">
            Invite your friends and colleagues to edit your notes from anywhere too.
          </h2>
        </div>
      </div>
    </div>
  </div>
</section> -->
<section class="section has-background-primary has-text-centered">
  <div class="container">
    <h1 class="title has-text-white">{{ 'home.downloadSection.title' | translate }}</h1>
    <a href="/register" class="button is-light is-large">
      {{ 'Register' | translate }}
    </a>
  </div>
</section>
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      {{ 'madeWith' | translate }} <i class="fas fa-heart has-text-danger"></i> {{ 'by' | translate }} 
      <a target="_blank" href="https://hildor.com.br">Hildor Júnior</a>.
    </p>
  </div>
</footer>