$primary: #8819bb;

@import "bulma/bulma.sass";

* {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, .title {
  font-family: 'Roboto Slab', serif;
}

html {
  overflow-y: auto;
}

a {
  color: $dark;
  font-weight: 500;
  border-radius: 20px;
  letter-spacing: 1px;
}

label {
  font-weight: normal !important;
  margin-bottom: 2px !important;
}

.input-edit-on-click {
  height: auto;
  padding: 0;
  border: 0;
}

.swal2-popup {
  width: auto !important;
}
